.idea
course4/build
course4/node_modules
course4/output
course5/build
course5/crowd-funding/node_modules
course5/node_modules
course5/output
course6/examples/test-nextjs/node_modules
course6/examples/test-nextjs/.next
course6/truffle/node_modules
course6/.cache
course6/.config
course6/.local
course6/.npm
course7/.npm
course7/.config
course7/.local
course7/.cache
course7/nextjs/erc20factory/node_modules
course7/truffle/node_modules
venv